body {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bangers', cursive;
}
h1 {
    color: orange;
    text-align: center;
}
.playButton{
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    margin: 0 auto;
    background-color: black;
    color: red;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;

}
p{
    background-color: orange;
    color: black;
}
.dragon{
    height: auto;
    width: 500px;
    margin-top: 20px;
}